<section id="carousel">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h1>CyberPhone</h1>
                    <h3>Best Smartphone of 2021!</h3>
                    <p>Cras tortor mi, lobortis quis ornare in, varius scelerisque urna. Vivamus imperdiet dolor nec
                        odio convallis consequat.</p>
                    <div>
                        <button class="btn btn-white mr-2">More Info</button>
                        <button class="btn btn-blue" id="showCartBtn" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-shopping-cart"></i>
                            <p id="numCartItem"></p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <img class="img-fluid" src="./image/product-header2.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="products section ">
    <h2 class="section-title">-New Products-</h2>
    <div id="filter" class="customed-select mb-5">
        <select id="myOptions" onchange="getListPhones()">
            <option value="none" selected>Select car:</option>
            <option value="iphone">iPhone</option>
            <option value="samsung">Samsung</option>
        </select>
    </div>
    <div class="products__content  container-fluid">
        <div class="your-class" id="phoneList">
            {{#each products}}
            <div class="item-product col">
                <div class="card cardPhone">
                    <img src="{{this.img}}" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between" style="flex-direction: column;">
                            <div>
                                <h3 class="cardPhone__title">{{this.name}}</h3>
                            </div>
                            <div>
                                <h3 class="cardPhone__title">{{this.price}}</h3>
                            </div>
                        </div>
                        <p class="cardPhone__text">{{this.desc}}</p>
                        <div class="d-flex justify-content-between">
                            <div class="cardPhone__detail">
                                <button class="open-detail" onclick="open_d({{this.slug}})"><i>Show detail
                                        >></i></button>
                                <button class="close-detail" onclick="close_d({{this.slug}})"><i></i>Hide detail
                                    >></i></button>
                                <div id="inner_detail" class="inner_detail">
                                    <table>
                                        <tr>
                                            <td>Screen</td>
                                            <td>{{this.screen}}</td>
                                        </tr>
                                        <tr>
                                            <td>BackCamera</td>
                                            <td>{{this.backCamera}}</td>
                                        </tr>
                                        <tr>
                                            <td>FrontCamera</td>
                                            <td>{{this.frontCamera}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <button class="btnPhone-shadow" id="addToCartBtn_{{this.slug}}"
                                    onclick="addAction({{this.slug}})"><i class="fa fa-shopping-cart"></i> Buy
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script>
    if ('{{pathname}}' === "/") {
        let countnav = document.getElementsByClassName('nav-item');
        for (let i = 0; i < countnav.length; i++) {
            countnav[i].classList.remove('active')
        }
        document.getElementsByClassName('nav-item')[0].classList.add('active');
    }
    document.addEventListener('DOMContentLoaded', function () {
        // var services = new Services();
        // var cartArr = [];

        // INIT-------------------------------------------------------------------
        function getMyEle(id) {
            return document.getElementById(id);
        }
        function getMyClass(id) {
            return document.getElementsByClassName(id);
        }


        //Tìm kiếm một phần tử trong mảng bằng tên
        function findInArrById(id, arrObject) {
            let result = -1;
            arrObject.forEach(function (item, index) {
                if (id == item.product.id) {
                    result = index;
                }
            })
            return result;
        }
        function findInServerArrById(id, arrObject) {
            let result = -1;
            arrObject.forEach(function (item, index) {
                if (id == item.id) {
                    result = index;
                }
            })
            return result;
        }

        //--------------------------------------------------------------------------------
        function change_show_item() {
            if ($(window).width() < 700) {
                $(".your-class").slick('slickSetOption', 'slidesToShow', 1);
                document.querySelector('.slick-prev').style.display = "block";
                document.querySelector('.slick-next').style.display = "block";
            }
            if (($(window).width() > 700) && ($(window).width() < 1020)) {
                $(".your-class").slick('slickSetOption', 'slidesToShow', 2);
                document.querySelector('.slick-prev').style.display = "block";
                document.querySelector('.slick-next').style.display = "block";
            }
            if (($(window).width() < 1500) && ($(window).width() > 1020)) {
                $(".your-class").slick('slickSetOption', 'slidesToShow', 3);
                document.querySelector('.slick-prev').style.display = "block";
                document.querySelector('.slick-next').style.display = "block";
            }
            if ($(window).width() > 1500) {
                $(".your-class").slick('slickSetOption', 'slidesToShow', 4);
                if ($('.item-product').length <= 4) {
                    document.querySelector('.slick-prev').style.display = "none";
                    document.querySelector('.slick-next').style.display = "none";
                }
                else {
                    document.querySelector('.slick-prev').style.display = "block";
                    document.querySelector('.slick-next').style.display = "block";
                }
            }
            $('.slick-slider').slick('slickGoTo', 0);
        }

        function open_d(id) {
            getMyClass('open-detail')[id].style.display = "none";
            getMyClass('close-detail')[id].style.display = "block";
            getMyClass('inner_detail')[id].style.display = "block";
        }
        function close_d(id) {
            getMyClass('open-detail')[id].style.display = "block";
            getMyClass('close-detail')[id].style.display = "none";
            getMyClass('inner_detail')[id].style.display = "none";
        }

        function call_slick() {

            $('.your-class').slick({
                speed: 1000,
                slidesToScroll: 1,
                autoplay: false,
                infinite: false,
                arrows: true,
                // slidesToShow: 4 ,
            });
            change_show_item();
        };

        $(window).resize(function () {
            $('.slick-slider').slick('slickGoTo', 0);
            change_show_item();
        });

        function clear_slick() {
            $('.your-class').slick('unslick'); /* ONLY remove the classes and handlers added on initialize */
            $('.item-product').remove(); /* Remove current slides elements, in case that you want to show new slides. */
        }
        // clear_slick();
        call_slick();



        // function cart_on(){
        //     getMyEle("myModal").style.display = "block";
        // }
        // function cart_off(){
        //     getMyEle("myModal").style.display = "none";
        // }
    })
</script>